.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 36px;
    justify-items: center; 
}


@media (max-width: 850px ) {
    .card-list {
        grid-template-columns: 1fr; 
    }
}


@media (max-width: 420px ) {
    .card-list {
        grid-row-gap: 20px;
    }
}
