
.ant-card{
    display: flex;
	width: 454px;
	height: 281px;
    padding:2px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	box-shadow: 0  4px 12px rgba(0 0 0 / 15%);
}

.ant-card img {
   min-height: 278px;
   min-width: 185px;
   max-height: 278px;
   max-width: 185px;
}

.card-content{
	margin: -15px -5px;
}

.card-text{
margin-top: 8px;
font-size:12px;
line-height: 22px;
}

.card-title{
font-size:20px;
line-height:28px;
width:90%;
margin-bottom: 7px;
}

.card-date{
	color: #827E7E;
	font-size: 12px;
	line-height: 22px;
}

.card-tag-item{
	font-size: 12px;
	line-height: 15px;
	margin-top:7px;
	padding: 2px 4px;
	background: #FAFAFA;
    border: 1px solid #D9D9D9;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.65);
}

.card-stars{
	font-size: 90%;
	margin-top:auto;
	position:absolute;
	bottom:10px;
	right:15px;
	
}
.card-header{
	display: flex;
	justify-content: space-between;
}

.card-rating{
	box-sizing: border-box;
	position:absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #E5E5E5;
    border-radius: 50%;
    top: 12px;
    right: 8px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;

}

@media (max-width: 1024px ) {
	.ant-card{
	  width: 390px;
	  height: 370px;
	}
   }


@media (max-width: 850px ) {
	.ant-card{
	   height:350px;
	   width: 390px;
	}
   }


@media (max-width: 420px ) {
	.ant-card{
	   height:245px;
	   width: 387px;
	   padding:6px;
	}

	.ant-card img {
		min-height: 91px;
		min-width: 60px;
		max-height: 91px;
		max-width: 60px;
	 }

	 .card-text{
		font-size:12px;
		line-height: 22px;
		display:inline-block
		}

		.card-title{
			margin-top:-10px;
			width:90%;
			margin-bottom: 0px;

			}

			.card-rating{
				top: 5px;
			}

   }



